<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="description" content="Tabella addon example site">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>Tabella Example Site</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css" type="text/css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/maite.tabella.css" type="text/css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/jquery.datepicker.css" type="text/css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css" type="text/css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
</head>

<body>
  <div id="wrapper">
	<div id="logo"></div>

	<h1>Tabella Example</h1>

	<h2>
	  <a href="{link this basic}">basic</a> 
	  <a href="{link this complex}">complex</a>
	  <a href="{link this editable}">editable</a>
   	  <a href="https://github.com/knyttl/Tabella">download</a>
	</h2>

	<hr />

	<h2>{$name|capitalize} Tabella</h2>

	{control $tabellaName}

	<pre>
	  {$code}
	</pre>
	<p>
	(c) 2011 Vojtěch Knyttl, New BSD Licence. <a href="http://tlumocenifrancouzstina.cz">Tlumočení francouzštiny</a>. <a href="http://kulturniprehled.eu">Kulturní přehled</a>.
	</p>
  </div>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script type="text/javascript" src="{$basePath}/js/jquery.datepicker.js"></script>
  <script type="text/javascript" src="{$basePath}/js/maite.tabella.js"></script>
  <script type="text/javascript">
  <!-- 
 var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16651601-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
 -->
  </script>
</body>
</html>
